<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<div class="loading-int" style="z-index: inherit 1e+22;" *ngIf="condicion">
  <div class="cnt-load" style="z-index: inherit 1e+22;">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="27px" style="z-index: inherit 1e+22;" sty height="25px" viewBox="0 0 27 25"
      enable-background="new 0 0 27 25" xml:space="preserve">
      <path fill="#ec0000"/></svg>
    <div class="uil-ring-css">
      <div>

      </div>
    </div>
  </div>
</div>