
<!doctype html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p style="margin:0 auto" *ngIf="mostrar">
    <mat-toolbar color="primary">

      <span>{{title}}</span>

    <button mat-icon-button style="margin-left: 42%;"class="example-icon" routerLink="/nuevo-destinatario" aria-label="Example icon-button with share icon">
      Destinatarios
    </button>
    <button mat-icon-button style="margin-left: 10%;"class="example-icon" routerLink="/transferencias" aria-label="Example icon-button with share icon">
      transferencias
    </button>
    <button mat-icon-button style="margin-left: 10%;"class="example-icon" routerLink="/historial-movimientos"aria-label="Example icon-button with share icon">
      Historial
    </button>
      <button mat-icon-button style="margin-left: 10%;"class="example-icon" (click)="LogOut();" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </p>

    <mat-card class="carta-principal">
       
    
      <router-outlet></router-outlet>
      <app-loading-page></app-loading-page>
  
    </mat-card>
 

</body>
</html>

